#duration{
    width: 200px;
    
}
#time{
    width: 200px;
}
#chapter{
    width: 200px;
    justify-self: left;
}
#div1
{
   justify-content: space-between;
}
#div2
{
justify-content: space-between;

}
#ques{
    
    display: inline-block;
}
#mar{
    
    justify-content: space-between; 
}
#in1{
    width: 200px;
    justify-self: left;
}
#in2{
     width: 200px;
    justify-self: left;
}
  #create{
    align-self: right;
    justify-self: right;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    margin: 50px;
  }
  #create_quiz_btn_div{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: right;
      align-items: right;
      align-content: right;
  }
  
.quiz_inner{
    width: 55%;
    height: 70vh;
    border-radius: 5px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 7.5vh auto;
    background-color: gray;
    opacity: 0.9;
}

.quiz_inner label{
    font-size: x-large;

}

.quiz_inner div{
    margin: 20px;
}

#quiz_create{
    margin-top: 30px;
    align-self: center;
    font-size: xx-large;
}