
  #all{
   display: inline-block;
   flex-direction: row;
  }
  .details_right{
    width: 70vw;
    align-self: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
.details_img{
      height: 300px;
      width: 300px; 
      /* margin-top:-70px; */
      float: right; 
      margin: 20px;
      margin-top: 90px;
      margin-left: 40px;
  align-content: center;
    align-self: right;
}
.details_image{
  width: 300px;
  height: 300px;
}
#details_attempt{
  width:20%;
  height: 40px;
  align-self: center;
  margin-left: 40%;
  margin-top: 10%;
  border-radius: 5;
}
#details_txt{
  display: block;
  font-family: "Arial", Times, serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  height: 60vh;
  justify-content: space-between;
  /* size:80%; */
  float :left;
  padding:50px ;
  margin: 20px;
  background:#35424a;
  border:#e8491d 3px solid;
  border-radius: 5px;
}
#details_txt label{
  font-size: larger;
  margin-bottom: 30px;
}
#qd_quiz{
  align-self: center;
  margin: 20px;
}