.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.box {
  margin-bottom: 10px;
}
.btn-box {
  margin-left: 10px;
  width: 200px;
  display: inline-block;
}
.ml10 {
  margin-left: 10px;
}
.ml20 {
  margin-left: 10px;
}
.ml30 {
  margin-left: 10px;
}
.ml40 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 0px;
}
#submit {
  align-self: baseline;
  margin-left: 270px;
  width: 200px;
}
.questionbank_question{
  width: 55%;
  height: 220px;
  border-radius: 5px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  padding: 0 0  0 50px;
  margin:  50px auto;
  background-color: gray;
  opacity: 0.9;
}
.questionbank_question p{
  font-weight: bold;
  margin-bottom:20px ;
  font-size: large;
}
.questionbank_question label{
  margin-left:20px ;
}
.submit{
  width: 55%;
  height: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin:  20px auto;
}