@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Lexend", sans-serif;
  padding: 0;
  height: 100vh;
  background-color: darkgray;
  letter-spacing: 1.2px;
}

input,
button {
  font-family: "Lexend", sans-serif;
}
button:hover{
  cursor: pointer;
}